// ======================================================
// COMPONENT SIZING
// ======================================================
$header-height: 84px;

$sidebar-width-expanded: 16vw;
$sidebar-width-collapsed: 72px;
