@use "theme" as *;
@use "spacing" as *;
@use "component-sizing" as *;
@use "sizing" as *;

.page {
  height: calc(100vh - $header-height - $page-padding - $page-margin);
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.page-content {
  height: 100%;
  flex: 1;
  min-height: 0;
}

// ======================================================
// PAGE
// ======================================================

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.25rem;
  height: $header-height;

  h3 {
    font-size: $page-header;
    font-weight: $page-header-weight;
  }

  .page-text-secondary {
    font-size: $page-subheader;
    font-weight: $page-subheader-weight;
    color: $text-secondary;
    margin-bottom: $spacing-md;
  }
}

.component {
  margin: $page-margin;

  border: $border-width solid $border-light;
  background-color: $surface;
  border-radius: $radius-lg;
}
