@use "theme" as *;
@use "spacing" as *;
@use "component-sizing" as *;
@use "sizing" as *;

// ======================================================
// PAGE
// ======================================================

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h3 {
    font-size: $page-header;
    font-weight: $page-header-weight;
  }

  .page-text-secondary {
    font-size: $page-subheader;
    font-weight: $page-subheader-weight;
    color: $text-secondary;
    margin-bottom: $spacing-md;
  }
}

.component {
  max-height: calc(100% - 3rem);
  // max-height: 100%;
  margin: 1rem;
  border: 1px solid $border-light;
  background-color: $surface;
  border-radius: $radius-lg;
  overflow-y: auto;
  overscroll-behavior-y: none;
}
