@use "theme" as *;
@use "spacing" as *;
@use "styles/component-sizing" as *;

// ======================================================
// TABLE
// ======================================================

.table-container {
  max-height: calc(100% - $header-height);
  flex: 1;
  overflow-y: auto;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;

  border-collapse: collapse;
  border-spacing: 0;

  // ======================================================
  // HEADER
  // ======================================================

  thead {
    th {
      position: sticky;
      top: 0;
      z-index: 2;

      background-color: $surface-elevated;

      text-align: left;
      font-weight: 600;

      &::after {
        content: "";

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        height: 1px;

        background-color: $border;
      }
    }
  }

  // ======================================================
  // CELLS
  // ======================================================

  th,
  td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
  }

  // ======================================================
  // ROWS
  // ======================================================
  tbody {
    overflow: scroll;
  }

  tbody tr:nth-child(even) {
    background-color: $surface-elevated;
  }

  // ======================================================
  // EXPANDABLE ROWS
  // ======================================================

  .expandable-row-container {
    padding: 16px;
  }

  .dummy-block {
    height: 100px;
    margin-bottom: 10px;
    border-radius: 6px;
    background: $surface-elevated;
  }

  .expanded-row-shell {
    height: 0;
    overflow: hidden;
    animation: growRow 400ms ease-out forwards;
  }

  @keyframes growRow {
    from {
      height: 0;
    }

    to {
      height: fit-content;
    }
  }

  // ======================================================
  // COLUMN WIDTHS
  // Used by <colgroup>
  // ======================================================

  // ======================================================
  // SHARED
  // ======================================================
  .created-at-column {
    width: 7.5%;
  }

  .date-column {
    width: 10%;
  }

  .time-column {
    width: 15%;
  }

  // ======================================================
  // LEADS
  // ======================================================

  .checkbox-column {
    width: 48px;
  }

  .name-column {
    width: 20%;
  }

  .phone-column {
    width: 12%;
  }

  .email-column {
    width: auto;
  }

  .status-column {
    width: 10%;
  }

  .received-column {
    width: 12%;
  }

  .icon-column {
    width: 80px;
  }

  .action-column {
    width: 100px;
  }

  .created-at-column {
    width: 10%;
  }

  .listing-price-column {
    width: 15%;
  }

  // ======================================================
  // PROPERTIES
  // ======================================================

  // ======================================================
  // CHECKBOX CELL
  // ======================================================

  .checkbox-cell {
    text-align: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .table-checkbox {
    display: block;

    margin: 0 auto;

    cursor: pointer;
  }

  // ======================================================
  // STATUS CELL
  // ======================================================

  .status-cell {
    text-align: center;
  }

  .status-column {
    text-align: center;
  }

  // ======================================================
  // ICON CELL
  // ======================================================

  .icon-cell {
    text-align: center;

    mat-icon {
      display: block;

      margin: 0 auto;
    }
  }

  // ======================================================
  // ACTION CELL
  // ======================================================

  .action-cell {
    text-align: right;
    padding-right: 1.5rem;

    mat-icon {
      display: block;

      margin: 0 auto;

      cursor: pointer;
    }
  }
}

// ======================================================
// RECEIVED CELL
// ======================================================

.received-column {
  text-align: left;
}

// ======================================================
// SHARED
// ======================================================
.created-at-cell {
  text-align: center;
}

.listing-price-cell {
  text-align: right;
}

.property-cell {
  white-space: pre-line;
}

aa-expanded-table-row {
  height: 100%;
  .expanded-row-shell {
    height: 100%;
  }
}
