<div class="table-container component">
  <table>
    <colgroup>
      <col class="checkbox-column" />

      @for (column of tableHeaderConfig(); track column.label) {
        <col
          [class]="getColumnClass(column.value, 'column')"
          [class.icon-column]="column.type === 'icon'"
          [class.action-column]="column.type === 'actions'"
        />
      }
    </colgroup>

    <thead>
      <tr>
        <th class="checkbox-cell">
          <!-- Select-all checkbox can go here later -->
        </th>

        @for (column of tableHeaderConfig(); track column.label) {
          <th
            [class]="getColumnClass(column.value)"
            [class.icon-cell]="column.type === 'icon'"
            [class.action-cell]="column.type === 'actions'"
          >
            {{ column.label }}
          </th>
        }
      </tr>
    </thead>

    <tbody>
      @if (tableDataConfig().length === 0) {
        <tr class="no-hover">
          <td
            style="text-align: center; height: 75px; vertical-align: middle"
            [attr.colspan]="tableHeaderConfig().length + 1"
            class="no-hover"
          >
            No data currently available.
          </td>
        </tr>
      }
      @for (data of tableDataConfig(); track data.id) {
        <tr (click)="onRowClick(data.id)">
          <td class="checkbox-cell">
            <input
              class="table-checkbox"
              type="checkbox"
              [checked]="isSelected(data.id)"
              (click)="onCheckboxClick($event, data.id)"
            />
          </td>

          @for (column of tableHeaderConfig(); track column.label) {
            <td
              [class]="getColumnClass(column.value)"
              [class.icon-cell]="column.type === 'icon'"
              [class.action-cell]="column.type === 'actions'"
            >
              @switch (column.type) {
                @case ("icon") {
                  <mat-icon>{{ column.icon }}</mat-icon>
                }

                @case ("actions") {
                  <mat-icon>
                    {{ column.icon ?? "more_vert" }}
                  </mat-icon>
                }

                @case ("pill") {
                  <aa-status-pill
                    [config]="data[column.value!]"
                  ></aa-status-pill>
                }

                @case ("text") {
                  @if (column.value === "createdAt") {
                    {{ data[column.value!] | timeAgo }}
                  } @else {
                    {{ data[column.value!] }}
                  }
                }

                @default {
                  {{ data[column.value!] }}
                }
              }
            </td>
          }
        </tr>

        @if (expandedRowTemplate() && row() === data.id) {
          <tr class="expanded-row no-hover">
            <td [attr.colspan]="tableHeaderConfig().length + 1">
              <div class="expanded-row-shell">
                <div class="expanded-row-content">
                  <aa-expandable-table-row
                    [rowData]="data"
                    [expandedRowTemplate]="expandedRowTemplate()!"
                  />
                </div>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
