<div class="side-bar-container">
  <ul class="nav-list">
    @for (item of navConfig; track item.label) {
      <div class="list-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <li [routerLink]="item.route">{{ item.label }}</li>
      </div>
    }
    <div class="line"></div>
    <div class="list-item">
      <mat-icon>help</mat-icon>
      <li>Help | Feedback</li>
    </div>
  </ul>
  <div class="collapse-container">
    <li>
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </li>
  </div>
</div>
