<ng-template #headerActions>
  <div class="open-houses-header-actions">
    <aa-view-toggle
      [options]="openHouseViewOptions"
      [value]="openHouseView()"
      (valueChange)="onOpenHouseViewChange($event)"
    />

    <aa-button [config]="addOpenHouseButtonConfig" />
  </div>
</ng-template>

<aa-page-template
  [title]="title"
  [subtitle]="subtitle"
  [hasTemplateButton]="true"
  [headerActions]="headerActions"
>
  <div class="table-container">
    @if (selectedOpenHouseIds().length > 0) {
      <aa-bulk-actions-bar
        itemName="open house"
        pluralItemName="open houses"
        [selectedCount]="selectedOpenHouseIds().length"
        (clearSelection)="onClearSelectionClick()"
      >
        <aa-button [config]="bulkDeleteButtonConfig" />
      </aa-bulk-actions-bar>
    }

    <aa-table
      [tableDataConfig]="tableData()"
      [tableHeaderConfig]="tableHeaderConfig"
      [expandedRowTemplate]="expandedRowTemplate"
      [selectedIdsInput]="selectedOpenHouseIds()"
      (rowExpanded)="onOpenHouseExpanded($event)"
      (selectionChange)="onSelectionChange($event)"
    />

    <ng-template #expandedRowTemplate let-row>
      <div class="open-house-expanded-row">
        <aa-open-house-expanded-row [openHouseId]="row.id" />
      </div>
    </ng-template>
  </div>
</aa-page-template>
