<aa-page-template
  [title]="title"
  [subtitle]="subtitle"
  [hasTemplateButton]="true"
  [buttonConfig]="addLeadButtonConfig"
>
  <div class="table-container">
    <aa-table
      [tableDataConfig]="tableData()"
      [tableHeaderConfig]="tableHeaderConfig"
      [expandedRowTemplate]="expandedRowTemplate"
      (rowExpanded)="onLeadExpanded($event)"
    />

    <ng-template #expandedRowTemplate let-row>
      <aa-lead-expanded-row [row]="row" />
    </ng-template>
  </div>
</aa-page-template>
