<ng-template #headerActions>
  <div class="leads-header-actions">
    <aa-view-toggle
      [options]="leadViewOptions"
      [value]="leadView()"
      (valueChange)="onLeadViewChange($event)"
    />

    <aa-button [config]="addLeadButtonConfig" />
  </div>
</ng-template>

<aa-page-template
  [title]="title"
  [subtitle]="subtitle"
  [headerActions]="headerActions"
>
  <div class="table-container">
    @if (selectedLeadIds().length > 0) {
      <aa-bulk-actions-bar
        itemName="lead"
        [selectedCount]="selectedLeadIds().length"
        (clearSelection)="onClearSelectionClick()"
      >
        <aa-select
          placeholder="Change Status"
          [options]="statusOptions"
          [value]="selectedStatus()"
          (valueChange)="onStatusChange($event)"
        />

        <aa-button [config]="updateStatusButtonConfig" />
      </aa-bulk-actions-bar>
    }

    <aa-table
      [tableDataConfig]="tableData()"
      [tableHeaderConfig]="tableHeaderConfig"
      [expandedRowTemplate]="expandedRowTemplate"
      (rowExpanded)="onLeadExpanded($event)"
      (selectionChange)="onSelectionChange($event)"
    />

    <ng-template #expandedRowTemplate let-row>
      <aa-lead-expanded-row [row]="row" />
    </ng-template>
  </div>
</aa-page-template>
