<div class="select">
  <button
    type="button"
    class="select-trigger"
    [class.select-trigger-open]="isOpen()"
    (click)="toggle()"
  >
    <span>{{ getSelectedLabel() }}</span>

    <mat-icon>
      {{ isOpen() ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
    </mat-icon>
  </button>

  @if (isOpen()) {
    <div class="select-menu">
      @for (option of options(); track option.label) {
        <button
          type="button"
          class="select-option"
          [class.select-option-selected]="option.value === value()"
          (click)="selectOption(option)"
        >
          <span>{{ option.label }}</span>

          @if (option.value === value()) {
            <mat-icon>check</mat-icon>
          }
        </button>
      }
    </div>
  }
</div>
