@use "styles/theme" as *;
@use "styles/spacing" as *;
@use "styles/component-sizing" as *;

.flex-center-page {
  display: flex;
  height: calc(100vh - $header-height - 2rem);
}

main {
  margin: $page-margin;
  padding: $page-margin;
  border-radius: $radius-sm;
  height: calc(100vh - $header-height - 1rem);
}
