<div class="aa-header">
  <div [routerLink]="'/'" class="aa-logo-container">
    <img class="aa-logo" src="open-house-domain-transparent.png" alt="logo" />
    <div class="aa-headings">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
    </div>
  </div>

  <div class="search-bar search-bar-disabled">
    <button
      class="search-button"
      type="button"
      aria-label="Search coming soon"
      disabled
    >
      <mat-icon>search</mat-icon>
    </button>

    <input type="search" placeholder="Global search coming soon..." disabled />
  </div>

  <div class="user-info-settings-container">
    <button
      [routerLink]="'/settings'"
      class="settings-button"
      type="button"
      aria-label="Settings"
    >
      <mat-icon>settings</mat-icon>
    </button>

    <img
      class="user-avatar"
      [src]="userAvatarUrl()"
      alt="User Avatar"
      draggable="false"
    />

    <div class="user-info">
      <h3>{{ userName() }}</h3>
      <p>{{ userEmail() }}</p>
    </div>

    <aa-action-menu
      ariaLabel="User menu"
      triggerIcon="keyboard_arrow_down"
      [actions]="userActions"
    />
  </div>
</div>
